body {
  scroll-padding-top: 10%;
  margin: 0;
}
.App {
  text-align: center;
}


.aaa {
  height: 500vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
